Cliente03AppWebHTMLServlet/src/conf/xml-resources/web-service-references/CalculatorService/wsdl/localhost_8080/CalculadoraWS/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.medac.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.medac.com/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.medac.com/" schemaLocation="http://localhost:8080/CalculadoraWS/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="multiplica">
<part name="parameters" element="tns:multiplica"/>
</message>
<message name="multiplicaResponse">
<part name="parameters" element="tns:multiplicaResponse"/>
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<portType name="CalculatorService">
<operation name="divide">
<input wsam:Action="http://ws.medac.com/CalculatorService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://ws.medac.com/CalculatorService/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://ws.medac.com/CalculatorService/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://ws.medac.com/CalculatorService/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://ws.medac.com/CalculatorService/restaRequest" message="tns:resta"/>
<output wsam:Action="http://ws.medac.com/CalculatorService/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="multiplica">
<input wsam:Action="http://ws.medac.com/CalculatorService/multiplicaRequest" message="tns:multiplica"/>
<output wsam:Action="http://ws.medac.com/CalculatorService/multiplicaResponse" message="tns:multiplicaResponse"/>
</operation>
<operation name="potencia">
<input wsam:Action="http://ws.medac.com/CalculatorService/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://ws.medac.com/CalculatorService/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/CalculadoraWS/CalculatorService"/>
</port>
</service>
</definitions>